
body {
    font-family: Arial, sans-serif;
    background: #1D2125;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #FFCC00;
    margin-top: 20px;
    /* text-shadow: 0 2px 2px #daf8e3; */
}

.instrukcja {
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #ff0000;
}

#search {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #005582;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#shortcutsList {
    list-style-type: none;
    padding: 0px 10px 0px 0px;
    width: 500px;
    height: 270px;
    /* max-width: 600px;  */
    margin: 20px 20px auto;
    overflow-y: auto; /* Add vertical scrollbar */
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(255, 255, 255); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFCC00; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff; 
  }

#shortcutsList li {
    background-color: #22272B;
    border-bottom: 1px solid #FFCC00;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px; /* Rounded corners for elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden; /* Ensure text does not overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limit to 5 lines */
    line-clamp: 5; /* Standard property for compatibility */
    -webkit-box-orient: vertical;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#shortcutsList li:hover {
    background-color: #1D2125; /* Change background color on hover */
}

.dashboardButton {
  background-color: #FFCC00;
  border: none; 
  color: black; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; /* Remove underline */
  display: inline-flex; 
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 12px; 
  transition: background-color 0.3s ease; /* Smooth transition */
  width: 120px;
  justify-content: center;
}

.dashboardButton:hover {
  background-color: #c69e00;
  box-shadow: 0px 0px 5px 0px black;
}

#profileButton {
  display: flex;
  align-items: center;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

#profileButton:hover {
  transform: scale(1.1);
  filter: brightness(1.05);
}

#userGreeting{
  color: #FFCC00;
}